@page "/hello"
@inherits BasePage<Delights.Modules.Hello.Module>

<h1>Hello World! from @Module.Metadata.Name </h1>

<Button OnClick="OnClick">Click</Button>

@code{
    protected override void OnInitialized()
    {
        Parent.Title = "Hello";
        base.OnInitialized();
    }

    void OnClick()
    {
        Parent.Title = "Hello!";
    }
}
