@page "/modulemanager"
@inherits BasePage<Delights.Modules.ModuleManager.Module>
@inject ModuleService Service

<h1>ModuleManager World! from @Module.Metadata.Name </h1>

<Button OnClick="OnClick">Click</Button>

@foreach(var message in messages)
{
    <p>@message.Content</p>
    <br/>
}

@code{
    List<GraphQL.IHelloMessage> messages = new List<GraphQL.IHelloMessage>();

    protected override void OnInitialized()
    {
        Parent.Title = "ModuleManager";
        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        messages = (await Service.GraphQLClient.GetMessagesAsync()).Data.HelloMessages.Nodes.ToList();
    }

    void OnClick()
    {
        Parent.Title = "ModuleManager!";
    }
}
