@inject IServiceProvider ServiceProvider

<span>
    @if (UI?.Icon is null)
    {
        <MdiIcon Type="@IconNames.Module" />
    }
    else
    {
        @UI.Icon
    }
</span>

@code {
    [Parameter]
    public ClientModule? Module { get; set; }

    private ModuleUI? UI { get; set; }

    protected override void OnParametersSet()
    {
        UI = Module?.GetUI(ServiceProvider);
    }
}
