@inherits PageParent

<CascadingValue Value="@this" TValue="PageParent">
    <PageHeader Title="@Title">
        <PageHeaderBreadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>
                    <a href="">
                        <MdiIcon Type="@IconNames.Home" />
                        <span>Home</span>
                    </a>
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <span>
                        <ModuleIcon Module="Module"></ModuleIcon>
                        <span>@(Module?.Metadata.Name ?? "")</span>
                    </span>
                </BreadcrumbItem>
            </Breadcrumb>
        </PageHeaderBreadcrumb>
    </PageHeader>

    <div class="container">
        @ChildContent
    </div>
</CascadingValue>

@code{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}