@inherits LayoutComponentBase
@layout MainLayout

<PageParent>
    <Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value="@($"{context.Title} - {context.Module?.Manifest.DisplayName} - Delights")"></Microsoft.AspNetCore.Components.Web.Extensions.Head.Title>

    <PageHeader Title="@context.Title">
        <PageHeaderBreadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>
                    <span>
                        <ModuleIcon Module="context.Module" Fallback="@Fragments.DefaultModuleIcon"></ModuleIcon>
                        <span>@(context.Module?.Manifest.Name ?? "")</span>
                    </span>
                </BreadcrumbItem>
            </Breadcrumb>
        </PageHeaderBreadcrumb>
    </PageHeader>

    <div class="container">
        @Body
    </div>
</PageParent>