@inject IServiceProvider ServiceProvider

<span>
    @if (UI?.Icon is null)
    {
        if(Fallback is not null)
            @Fallback
    }
    else
    {
        @UI.Icon
    }
</span>

@code {
    [Parameter]
    public IClientModule? Module { get; set; }

    [Parameter]
    public RenderFragment? Fallback { get; set; }

    private ModuleUI? UI { get; set; }

    protected override void OnParametersSet()
    {
        UI = Module?.GetUI(ServiceProvider);
    }
}
